.name {
    color: #01B6E8;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    margin-top: 9px;
}

.title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 85px;
}