/* ====================================
// css variables
// ==================================== */

// :root {}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

h1 {
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 136px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 160px 0px 115px 0px;
}

h2 {
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 140px 0px 85px 0px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #F40F97;
}